[is='flynt-slider-images-default'] {
  margin: 0 auto;
  padding: 0;
  width: 100%;

  @media (max-width: $breakpoint-tablet) {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }

  .preContent {
    padding-left: $spacing-large*3;
    padding-top: 0;
    text-align: left;
    text-transform: uppercase;

    @media (max-width: $breakpoint-tablet) {
      padding-left: $spacing-small*3;
    }
  }

  .projectInfo-wrapper {
    bottom: 60px;
    color: $black;
    left: 75px;
    position: absolute;
    transition: all 0.5s linear;
    width: 80vw;
    z-index: 1000;

    @media (max-width: $breakpoint-tablet) {
      bottom: $spacing-small;
      left: $spacing-small;
      width: calc(100% - 30px);
    }

    @media (max-width: $breakpoint-mobile) {
      bottom: $spacing-small;
      left: $spacing-small;
      width: calc(100% - 30px);
    }

    .title {
      color: $black;
      margin-bottom: $spacing-small;
    }

    .showInfo {
      cursor: pointer;

      // &::after {
      //   content: '+';
      //   margin-left: 5px;
      // }

      // &.description--visible {
      //   &::after {
      //     content: '-';
      //     margin-left: 5px;
      //   }
      // }
    }

    .description {
      animation-direction: alternate;
      animation-duration: 50s;
      animation-iteration-count: infinite;
      animation-name: backgroundColorPalette;
      animation-timing-function: linear;
      display: none;
      padding: $spacing-small;
      transition: all 0.5s linear;

      &--visible {
        display: block;
        max-height: 60vh;
        overflow-y: scroll;
      }

      @keyframes descriptionColorPalette {
        0% {
          background: $blue;
        }
    
        25% {
          background: $blue;
        }
    
        40% {
          background: $green;
        }
    
        65% {
          background: $green;
        }
    
        80% {
          background: $yellow;
        }
    
        100% {
          background: $yellow;
        }
      }
    }
  }

  .slider {
    position: relative;

    &-item {
      height: 100vh;
      overflow: hidden;
      // padding-bottom: percentage(10 / 16);
      // padding-bottom: (10/16) * 100%;
      position: relative;

      &--desktop {
        display: block;
  
        @media (max-width: $breakpoint-tablet) {
          display: none;
        }
      }

      &--mobile {
        display: none;
  
        @media (max-width: $breakpoint-tablet) {
          display: block;
        }
      }
    }

    &-button {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 29px;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.2s ease-out;
      width: 13px;
      z-index: 10;

      @media (min-width: $breakpoint-tablet) {
        height: 58px;
        width: 27px;

        &:hover,
        &:focus {
          opacity: 0.8;
        }
      }

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &--prev {
        left: 15px;

        @media (max-width: $breakpoint-tablet) {
          left: 5px;
        }
      }

      &--next {
        right: 15px;

        @media (max-width: $breakpoint-tablet) {
          right: 5px;
        }
      }

      svg {
        @media (max-width: $breakpoint-tablet) {
          transform: scale(0.5);
        }
      }
    }
  }

  .figure {
    // aspect-ratio: 16/10;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;

    &-image {
      height: 100%;
      margin: 0 auto;
      max-width: 100vw;
      object-fit: cover;
      // width: auto;
      width: 100vw;

      @media (max-width: $breakpoint-tablet) {
        max-width: 100vw;
      }
    }

    // &-caption {
    //   background: rgba($color-background-dark, 0.5);
    //   bottom: 0;
    //   color: $color-background-light;
    //   display: inline-block;
    //   font-size: 0.8rem;
    //   max-width: 450px;
    //   padding: 0.25rem 0.5rem;
    //   position: absolute;
    //   right: 0;
    // }
  }
}
