[is='flynt-block-coming-soon'] {
  display: flex;
  height: 100vh;

  .container {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    .box-image {
      max-width: 300px;
    }
  }
}
